/* FIXME: these are codes for modifying messages */

.dash-container {
  display: flex;
  justify-content: space-between;
}

.dash-reply-btn,
.dash-change-role-btn,
.dash-moddy-btn,
.dash-skills-edit-btn,
.dash-delete-message,
.dash-delete-skills,
.dash-delete-user,
.dash-delete-blog,
#save-edit,
#cancel-edit,
#save-skills-edit,
#cancel-edition,
.dash-add-skills-btn {
  margin-bottom: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
}

.my-label {
  font-size: x-small;
}

.dash-add-skills-btn {
  margin: 4%;
}

.dash-delete-blog,
.dash-delete-message,
#cancel-edition,
.dash-delete-user,
.dash-delete-skills,
#cancel-edit {
  background-color: hsl(0, 70%, 59%);
}

#dash-message-error.fail {
  color: hsl(64, 100%, 50%);
  margin-bottom: 5px;
}

#dash-message-error.success {
  color: hsl(108.52deg 100% 50%);
  margin-bottom: 5px;
}

#dash-skills-error.fail {
  color: hsl(337, 100%, 50%);
  margin-top: 1em;
  font-weight: bolder;
}

#dash-blogs-error.fail {
  color: hsl(337, 100%, 50%);
  font-weight: bolder;
  margin-bottom: 5px;
}

#dash-skills-error.success {
  color: hsl(108deg 93.18% 46.54%);
  margin-top: 1em;
  font-weight: bolder;
}

#dash-blogs-error.success {
  color: hsl(108deg 93.18% 46.54%);
  font-weight: bolder;
  margin-bottom: 5px;
}

.dash-for-every-message,
.dash-for-every-single-blog,
.dash-for-every-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 6px;
  padding: 6px;
  border: #dfe6ee solid;
  border-radius: 12px;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
}

.user-to-change,
.message-to-edit {
  margin-bottom: 7px;
  width: 80%;
  text-align: justify;
  margin-right: 1vw;
}

.modification-option-for-message {
  margin: 0 auto;
}
.dash-container-modification-area,
.dash-container-modify-skills {
  width: 70%;
  padding: 2px;
  display: flex;
  flex-direction: column;
}

.dash-container-modify-skills {
  gap: 15px;
  align-items: center;
}

.dash-skill-item {
  background-color: white;
  padding: 9px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dash-skills-lowerside {
  padding: 9px;
  background-color: hsl(211, 100%, 77%);
  display: flex;
  gap: 15px;
  border-radius: 9px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

img.skills-image {
  width: 200px;
  height: 80px;
  object-fit: cover;
}

div#dash-top-input {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  padding: 9px;
  border-radius: 10px;
}

.dash-add-skills {
  display: flex;
  justify-content: center;
}

.title-blog-to-edit {
  margin: 5px;
}

.dash-listing-title {
  text-align: center;
  font-weight: bolder;
  text-transform: uppercase;
  margin-bottom: 1vw;
}

.stat-welcome {
  padding: 3px;
  margin-bottom: 5px;
  text-align: center;
}

.count {
  width: 130px;
  background-color: #33699f;
  border-radius: 10%;
  display: block;
  text-align: center;
  padding: 14px;
  border: 2px solid;
}

.count-title {
  color: white;
}

.number-of-count {
  padding-top: 4px;
  font-weight: bolder;
  margin-right: auto;
  margin-left: auto;
  height: 50px;
  width: 50px;
  display: grid;
  border-radius: 50%;
  background-color: #d9d9d9;
  color: black;
  align-items: center;
  justify-content: center;
}

#count {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 1vw;
}

/* Tablets Styles and min-desktop */
@media only screen and (min-width: 601px) and (max-width: 1170px) {
  .message-to-edit {
    width: 100%;
  }

  .dash-for-every-single-blog {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 0;
  }
}

/* Mobile Styles */
@media only screen and (max-width: 600px) {
  .dash-container {
    display: flex;
    justify-content: space-between;
    font-size: small;
  }

  .user-to-change,
  .message-to-edit {
    width: 100%;
  }
  .modification-option {
    margin: 0 auto;
  }

  /* .every-single-blog {
    display: flex;
    flex-direction: column;
  } */

  .dash-for-every-single-blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6px;
    padding: 6px;
    border: #dfe6ee solid;
    border-radius: 12px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
  }
}
