/* FIXME: these are codes for modifying messages */

.dash-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.dash-reply-btn,
.dash-change-role-btn,
.dash-moddy-btn,
.dash-delete-message,
.dash-delete-skills,
.dash-add-skills-btn {
  margin-bottom: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
}

.dash-add-skills-btn {
  margin: 4%;
}

.dash-delete-message,
.dash-delete-skills {
  background-color: hsl(0, 70%, 59%);
}

#dash-message-error.fail {
  color: hsl(64, 100%, 50%);
  margin-bottom: 5px;
}

#dash-message-error.success {
  color: hsl(108.52deg 100% 50%);
  margin-bottom: 5px;
}

#dash-skills-error.fail {
  color: hsl(337, 100%, 50%);
  margin-top: 1em;
  font-weight: bolder;
}

#dash-skills-error.success {
  color: hsl(108deg 93.18% 46.54%);
  margin-top: 1em;
  font-weight: bolder;
}

.dash-for-every-message,
.dash-for-every-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 6px;
  padding: 6px;
  border: #dfe6ee solid;
  border-radius: 12px;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
}

.user-to-change,
.message-to-edit {
  margin-bottom: 7px;
  width: 80%;
  text-align: justify;
  margin-right: 1vw;
}

.modification-option-for-message {
  margin: 0 auto;
}
.dash-container-modification-area,
.dash-container-modify-skills {
  width: 70%;
  padding: 2px;
  display: flex;
  flex-direction: column;
}

.dash-container-modify-skills {
  gap: 15px;
  align-items: center;
}

.dash-skill-item {
  background-color: white;
  padding: 9px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dash-skills-lowerside {
  padding: 9px;
  background-color: hsl(211, 100%, 77%);
  display: flex;
  gap: 15px;
  border-radius: 9px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

img.skills-image {
  width: 200px;
  height: 80px;
  object-fit: cover;
}

div#dash-top-input {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  padding: 9px;
  border-radius: 10px;
}

.dash-add-skills {
  display: flex;
  justify-content: center;
}

.title-blog-to-edit {
  margin: 5px;
}

.dash-listing-title {
  text-align: center;
  font-weight: bolder;
  text-transform: uppercase;
  margin-bottom: 1vw;
}

/* Mobile Styles */
@media only screen and (max-width: 600px) {
  .dash-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: small;
  }

  .user-to-change,
  .message-to-edit {
    width: 100%;
  }
  .modification-option {
    margin: 0 auto;
  }
}

/* Tablets Styles and min-desktop */
@media only screen and (min-width: 601px) and (max-width: 1170px) {
  .message-to-edit {
    width: 100%;
  }
}
