body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}
/* 
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */
.dash-popup2,
.dash-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #434a57a8;
  justify-content: center;
  align-items: flex-start;
}

.dash-popup.activated,
.dash-popup2.activated {
  display: flex;
}

.pop-box {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  /* width: 300px; */
  margin-top: 40vh;
  animation: slideDown 0.5s ease-out;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.pop-box h2 {
  margin: 0 0 20px 0;
}

#confirmAlert,
#confirmAlert2,
#StopDefault,
#StopDefault2 {
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  background-color: #a72844;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

#StopDefault,
#StopDefault2 {
  background-color: #4d64cc;
}
