.skills-section {
  padding: 9px;
  background-image: url("Icons/back_for_My_skills.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  gap: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 4vw;
}

#skills-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2vw;
}

.skills-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2vw;
}

.skill-item {
  height: 20%;
  background-color: white;
  padding: 9px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.My_icons {
  font-size: 30px;
}

.skill-item {
  font-size: small;
}

/* Mobile Styles */
@media only screen and (max-width: 600px) {
  .skill-item {
    font-size: small;
  }
}
