body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.modalsubscribe {
  display: none;
  position: fixed;
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7); /* Black w/ opacity */
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.modal-content-wrapper {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  max-width: 600px;
  width: 100%;
  text-align: center;
}

.modal-content-wrapper img {
  /* width: 100%; */
  max-height: 200px;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}

.modal-content {
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  position: relative;
}

.closesubscribe {
  position: absolute;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  right: 10%;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s;
  color: #e54545;
  background-color: #fff;
  scale: 1.8;
  align-items: center;
  align-content: center;
}

.closesubscribe:hover,
.closesubscribe:focus {
  color: #fff;
  text-decoration: none;
  transform: scale(1.07);
  background-color: #c0392b;
  transition: 0.4s;
}

.modal-content span {
  font-size: 1.5em;
  margin-bottom: 10px;
  display: block;
  font-weight: bold;
}

.modal-content p {
  font-size: 1em;
  margin-bottom: 20px;
}

/* Form styling */
.subscribeForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.subscribeForm input[type="email"] {
  padding: 10px;
  width: 80%;
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  color: #333;
  font-size: 1em;
}

.subscribeForm input[type="email"]::placeholder {
  color: #aaa;
}

.subscribeForm button {
  padding: 10px 20px;
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.subscribeForm button:hover {
  background-color: #c0392b;
  transform: scale(1.05);
}

.modal-footer {
  margin-top: 20px;
  font-size: 0.8em;
}
.error {
  color: red;
}

.success {
  color: green;
}

/* Responsive styling */
@media (min-width: 769px) and (max-width: 1000px) {
  .modal-content-wrapper {
    width: 90%;
  }

  .modal-content-wrapper img {
    max-height: 150px;
  }

  .modal-content span {
    font-size: 1.2em;
  }

  .modal-content p {
    font-size: 0.8em;
    margin-bottom: 20px;
  }

  .closesubscribe {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s;
    color: #e54545;
    scale: 1.8;
  }
}

/* Responsive styling */
@media (max-width: 768px) {
  .modal-content-wrapper {
    width: 90%;
  }

  .modal-content-wrapper img {
    max-height: 150px;
  }

  .modal-content span {
    font-size: 1.2em;
  }

  .modal-content p {
    font-size: 0.8em;
    margin-bottom: 20px;
  }

  .closesubscribe {
    position: absolute;
    top: -35px;
    right: 30px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s;
    color: #e54545;
    scale: 1.5;
    background-color: #e3a692;
  }
}
